/* css reset */
*{
    margin: 0px;
    padding: 0px;
    
}
html{
    scroll-behavior: smooth;
}
/* css variables */
.root{
    --navbar-color:red;
}

/* Css navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
}

/* navigation bar: logo and img   */

#logo{
    margin: 2px 5px;
    
}
#logo img{
    margin: 2px 6px;
    width: 70px;
    height: 65px
    
}

/* Navigation bar: listing styles */

#navbar ul{
    display: flex;
    
}
#navbar ul li{
    color: white; 
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 16px;
    text-decoration: none;
    border-radius: 12px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}   

/* Home Section  */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    
    justify-content: center;
    padding: 2px 200px;
}
#home::before{
    content: "";
    background: url('bg1.jpg') no-repeat center center/cover; 
    position: absolute;
    width: 100%;
    height: 580px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
} 
#home h1{
    color: white;
    text-align: center;
    
}  

#para{
    color: white;
    
    font-size: 1.3rem;
    font-family: 'Trochut', cursive;
    text-align: center;
}

/* Services Section  */


.services-container h1{
    color: black;
}
#services{
    display: flex;
    margin: 4px;
}
#services .box{
    border: 3px solid rgb(212, 40, 40);
    padding: 16px 15px;
    margin: 15px 20px;
    margin-bottom: 70px;
    border-radius: 23px;
    background-color: rgb(241, 241, 241);
}

#services .box img{
    height: 123px;
    padding: 20px;
    margin: auto;
    display: block;
    
}
#services .box p{
    
    font-family: 'Trochut', cursive;
    font-size: 1.2rem;
    text-align: center;
}


/* Clients Section  */
#clients-section{
    
    position: relative;
}
#clients-section::before{
    content: "";
    position: absolute;
    background: url(bg.jpg);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.clients-item{
    padding: 34px;
}
#clients img{
    height: 135px;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility class */
.h-primary{
    color: black;
    font-size: 3.5rem;
    font-family: 'Shippori Mincho B1', serif;
    padding: 26px 11px;
}

.h-secondary{
    color: black;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 2.1rem;
}

.btn{
    border: 2px solid rgb(255, 255, 255);
    background-color: brown;
    border-radius: 13px;
    padding: 3px 15px;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
    color: white;
    cursor: pointer;
    margin: 17px 19px;
}

.text-center{
    align-items: center;
    text-align: center;
    justify-content: center;
}